<div id="sideNav" class="sideNav">
  <div [style.display]="isNavOpen ? 'none' : 'block'" class="imageBox pb-4">
    <div class="d-flex align-items-center justify-content-center">
      <div>
        <ngx-avatar
          [name]="loggerName"
          [src]="baseUrl + forNav[0]?.photoPath"
          class="margin-auto dflex"
          size="80"
          [style]="customStyle"
        ></ngx-avatar>
        <div class="pt-3 text-center">
          <h6 class="text-capitalize">{{ loggerName }}</h6>
          <span class="badge mt-2">Supervisor</span>
        </div>
      </div>
    </div>
  </div>
  <div class="likeUl">
    <ul [ngClass]="isNavOpen ? '' : 'menuList'" class="p-0 m-0">
      <li routerLink="/Employee" routerLinkActive="active" (click)="shortNav()">
        <i
          class="fa-solid fa-house"
          [matTooltip]="isNavOpen ? 'Home' : ''"
          matTooltipPosition="after"
        ></i>
        <p [ngClass]="isNavOpen ? 'none' : 'show'">Home</p>
      </li>
      <li
        routerLink="/main/Employee/addEmployee"
        routerLinkActive="active"
        *ngIf="isSuperUser"
        (click)="shortNav()"
      >
        <i
          class="fa-solid fa-user-plus"
          [matTooltip]="isNavOpen ? 'Add new user' : ''"
          matTooltipPosition="after"
        ></i>
        <p [ngClass]="isNavOpen ? 'none' : 'show'">Add New User</p>
      </li>
      <li
        routerLink="/attendance-management"
        routerLinkActive="active"
        (click)="shortNav()"
      >
        <i
          class="fa-solid fa-calendar-days"
          [matTooltip]="isNavOpen ? 'Attendance' : ''"
          matTooltipPosition="after"
        ></i>
        <p [ngClass]="isNavOpen ? 'none' : 'show'">Attendance</p>
      </li>
      <li
        routerLink="/asset-management"
        routerLinkActive="active"
        (click)="shortNav()"
      >
        <i
          class="fa-solid fa-screwdriver-wrench"
          [matTooltip]="isNavOpen ? 'Assets' : ''"
          matTooltipPosition="after"
        ></i>
        <p [ngClass]="isNavOpen ? 'none' : 'show'">Assets</p>
      </li>
      <li routerLink="/add-task" routerLinkActive="active" (click)="shortNav()">
        <i
          class="fa-solid fa-cubes-stacked"
          [matTooltip]="isNavOpen ? 'Add task' : ''"
          matTooltipPosition="after"
        ></i>
        <p [ngClass]="isNavOpen ? 'none' : 'show'">Add Task</p>
      </li>
      <li
        routerLink="/taskDetails-kanban"
        routerLinkActive="active"
        *ngIf="isSuperUser"
        (click)="shortNav()"
      >
        <i
          class="fa-solid fa-laptop-file"
          [matTooltip]="isNavOpen ? 'Task details' : ''"
          matTooltipPosition="after"
        ></i>
        <p [ngClass]="isNavOpen ? 'none' : 'show'">Task Details</p>
      </li>
      <li
        routerLink="/configuration"
        routerLinkActive="active"
        (click)="shortNav()"
      >
        <i
          class="fa-solid fa-gear"
          [matTooltip]="isNavOpen ? 'Configuration' : ''"
          matTooltipPosition="after"
        ></i>
        <p [ngClass]="isNavOpen ? 'none' : 'show'">Configuration</p>
      </li>
      <li routerLink="/report" routerLinkActive="active" (click)="shortNav()">
        <i
          class="fa-solid fa-flag"
          [matTooltip]="isNavOpen ? 'Report' : ''"
          matTooltipPosition="after"
        ></i>
        <p [ngClass]="isNavOpen ? 'none' : 'show'">Report</p>
      </li>
      <li [ngClass]="{ active: step === 'step7' }" (click)="logout()">
        <i
          class="fa fa-power-off"
          aria-hidden="true"
          [matTooltip]="isNavOpen ? 'Sign out' : ''"
          matTooltipPosition="after"
        ></i>
        <p [ngClass]="isNavOpen ? 'none' : 'show'">Sign out</p>
      </li>
    </ul>
  </div>
</div>

<main id="main">
  <nav class="navbar navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" (click)="openNav()">
        <i class="fa-solid fa-bars text-dark"></i>
      </button>
      <div class="d-flex align-items-center">
        <p class="m-0 text-capitalize">{{ loggerName }}</p>
        <a class="navbar-brand">
          <ngx-avatar
            [name]="loggerName"
            [src]="baseUrl + forNav[0]?.photoPath"
            [style]="customStyle"
          >
          </ngx-avatar>
        </a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</main>
