label {
    font-weight: 600;
    color: #3c4ac8;
}

.modal-header {
    color: darkblue !important;
}
.modal-content {
    border: none !important;
}
.modal {
    background-color: rgb(0, 0, 0, 0.6);
}
.closebutton {
    color: white;
}
