<div class="app-users">
    <h2>User Management</h2>
    <div class="table-section" *ngIf="!this.showForms">
        <div class="d-flex align-items-center pt-1 mb-2 mt-0">
            <button type="submit" class="btn btn-secondary w-25" (click)="showUserForms(true)">Add New User</button>
        </div>
        <div class="mt-4">
            <div class="search-bar d-flex align-items-center position-relative">
                <i class="fa-solid fa-magnifying-glass position-absolute"></i>
                <input class="search-input" title="Search" />
            </div>
            <div class="overflow-auto">
                <table class="table datatable-table">
                    <thead class="datatable-header">
                        <tr style="text-align: center;">
                            <th scope="col">S.No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Reference Id</th>
                            <th scope="col">Role</th>
                            <th scope="col">Shift</th>
                        </tr>
                    </thead>
                    <tbody class="datatable-body" style="text-align: center;">
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>1001</td>
                            <td>Admin</td>
                            <td>Morning Shift</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Mark</td>
                            <td>1001</td>
                            <td>Admin</td>
                            <td>Morning Shift</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mark</td>
                            <td>1001</td>
                            <td>Admin</td>
                            <td>Morning Shift</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <section id="login" class="login" *ngIf="this.showForms">
        <div class="container-fluid">
            <div class="row">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="card p-4" style="border-radius: 1rem">
                            <h3 class="text-black mb-4" style="font-size: 1.5rem">
                                Add  User
                            </h3>
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-control mb-1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Reference Id</label>
                                            <input type="text" class="form-control mb-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3">
                                        <label class="form-label">Role</label>
                                        <select name="Role" class="form-control mb-1" aria-placeholder="Select Role">
                                            <option selected>-- select --</option>
                                            <option value="Supervisor">Supervisor</option>
                                            <option value="Admin">Admin</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mb-3">
                                        <label class="form-label">Shift</label>
                                        <select name="Role" class="form-control mb-1" aria-placeholder="Select Role">
                                            <option selected>-- select --</option>
                                            <option value="Shift 1">Shift 1</option>
                                            <option value="Shift 2">Shift 2</option>
                                            <option value="Shift 3">Shift 3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email (Optional)</label>
                                    <input type="text" class="form-control mb-1">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Address (Optional)</label>
                                            <input type="text" class="form-control mb-1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Phone Number (Optional)</label>
                                            <input type="text" class="form-control mb-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <label class="form-label">Gender (Optional)</label>
                                    <div class="mt-2">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio1" value="option1">
                                            <label class="form-check-label" style="font-weight: normal;"
                                                for="inlineRadio1">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio2" value="option2">
                                            <label class="form-check-label" style="font-weight: normal;"
                                                for="inlineRadio2">Female</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center pt-1 mb-2 mt-0">
                                    <button type="submit" class="btn btn-secondary w-25">Submit</button>
                                    <button type="submit" class="btn btn-outline-secondary w-25 ms-3"
                                        (click)="onClick()">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>